<tr class="text-left text-gray-700 dark:text-gray-100 border-b dark:border-gray-600">
    <th class="py-2 px-3">Placa</th>
    <th class="py-2 px-3">Motorista</th>
    <th class="py-2 px-3">Destino</th>
    <th class="py-2 px-3">KM Saída</th>
    <th class="py-2 px-3">KM Retorno</th>
    <th class="py-2 px-3">KM Percorrida</th>
    <th class="py-2 px-3">Saída</th>
    <th class="py-2 px-3">Entrada</th>
    <th class="py-2 px-3 text-center w-16">Detalhes</th>
    <th class="py-2 px-3 text-center">Status</th>
    <th class="py-2 px-3 text-center w-28">Ações</th>
</tr>
